<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nombre Mystère by Harold</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <header>
        <a href="/"><img class="logo" src="/static/logo.png" alt="logo"></a>
    </header>

    <div class="menu">
        {{if .IsPlage}}
        <form class="calcul" method="post" action="/">
            <h2>Jeu du nombre mystère</h2>
            <p>Séléctionnez la plage...</p>
            <input type="text" name="min" required placeholder="Min">
            <input type="text" name="max" required placeholder="Max">
            <button type="submit">Calculer</button>


            {{if ne .ErreurMin ""}}<div class="erreur">{{.ErreurMin}}</div>{{end}}
            {{if ne .ErreurMax ""}}<div class="erreur">{{.ErreurMax}}</div>{{end}}
        </form>
        {{end}}


        {{if .IsGame}}
        <form class="calcul" method="post" action="/game">
            <h2>Jeu du nombre mystère</h2>
            <p>Le nombre mystère se trouve entre {{.Plage}}</p>
            <input type="text" name="nbchoisi" required placeholder="Votre nombre">
            <button type="submit">Calculer</button>
            {{if ne .MessageStatut ""}}<div class="erreur">{{.MessageStatut}}</div>{{end}}
        </form>
        {{end}}


        {{if .IsEnd}}
        <div class="calcul">
            <h2>Bravo !</h2>
            <p>{{.MessageFin}}</p>
            <form method="post" action="/">
                <input type="hidden" name="reset" value="recommencer">
                <button type="submit">Recommencer</button>
            </form>
        </div>
        {{end}}
    </div>
</body>

</html>